{% extends 'fittings/base.html' %}
{% load i18n %}
{% load humanize %}
{% load filters %}
{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
{% endblock %}


{% block page_title %}{% trans "View All Fits" %}{% endblock %}

{% block fittings_block %}
    {% if msg %}
            <div class="alert alert-{{ msg.0 }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times</span>
                    </button>
                    {% if msg.0 != 'warning' %}<h4>{% if msg.0 == 'danger' %}Oh No!{% elif msg.0 == 'success' %}Success!{% endif %}</h4>{% endif %}
                    <p>{{ msg.1 }}</p>
                </div>
        {% endif %}
    <div class="container col-sm-12">
        <h2>
            Fit List
        </h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                Fits
            </div>
            <div class="panel-body">
                <table class="table table-hover dataTable" id="fitTable">
                    <thead>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Ship Type</th>
                    </thead>
                    <tbody>
                        {% if not fits %}
                            <tr>
                                <td colspan="4">
                                    <div class="alert alert-warning" style="text-align: center"> No Fits Found </div>
                                </td>
                            </tr>
                        {% else %}
                            {% for fit in fits %}
                                <tr>
                                    <td> <a href="{% url 'fittings:view_fit' fit.pk %}">{{ fit.name }}</a> </td>
                                    <td> {{ fit.description }} </td>
                                    <td> {% item_img_circle fit.ship_type_type_id fit.ship_type.name '32' %} {{ fit.ship_type.type_name }} </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
{% endblock %}

{% block extra_script %}
    $(document).ready(function(){
        $('#fitTable').DataTable();
        $('[data-toggle="tooltip"]').tooltip();
    })
{% endblock %}
